.image-wrapper {
  	text-align: center;
  	vertical-align: middle;
  	background-color: #999;
	max-width: 100%;
    padding-top: 10%;
    margin: 0 auto;
}
.page-header {
	color: white;
	background-color: black;
	margin: 0; 
	padding: 0;
	position: fixed;
	width: 100%;
    top: 0;
	z-index: 1;
	text-align: center;
}
.page-footer {
	color: white;
	background-color: black;
	margin: 0; 
	padding: 0;
	position: fixed;
    bottom: 0;
	width: 100%;
}


div.navbar-form {
	width: 50%;
	float: right;
	display: inline;
	padding: 0;
	margin-right: 6px;
}
#incidents, #incidents-edit {
	overflow-y: scroll;
	max-height: 600px;
}  
#start-date {
	display: inline;
	max-width: 30%;
}
#end-date {
	margin-top: 0.5em;
	display: inline;
	max-width: 30%;
}
html, body {
overflow : none;
}
.panel-body {
	padding-bottom: 3.5em;
}
#fix, #fix2 {
	float:left;
}
#fix>.navbar-form {
	width: 70%;
}
.navbar-form .input-group>.form-control, .navbar-form .input-group, #btn-filter , #btn-filter-behv  {
	width: 100%;
}
#btn-quicksave, #btn-search, #btn-quicksave-beh, #btn-search-beh {
	width:50%;
	min-width: 50px;
}

.btn-group.navbar-btn {
	width: 20%;
	
}
#btn-filter .caret, #btn-filter-behv .caret, #btn-level .caret, span.icon , #btn-stuEditInc .caret {
	float: right;
	margin-top: 0.5em;
}
#btn-filter, #btn-filter-behv {
	min-width: 5em;
}
#btn-level {
	min-width: 5em;
	margin-left: 1em; 
	width: auto;   
}
span.in {
	float: right;
	margin-right: 0.5em;
	margin-left:0.5em;
}
span.out {
	color: blue;
	float: right;
	border-left: 1px solid black;
	padding-left: 0.5em;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 0;
}
.panel-heading {
	position: relative;
}
.panel-primary>.panel-heading {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
#page-notes .panel-heading  {
	color: #000;
	background-color: #FAF561;
	border-color: #FAF616;
}

#page-students .panel-heading  {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.input-group .form-control {
	z-index: 0;
}
#page-classes, #page-students, #page-notes {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}
body {
	height: 100%;
}
.input-group-addon {
	display:inline;
	border: none;
	background-color: white;
}
#all-categories, #all-incidents, #edit-stuIncident-list {
	height: auto;
	padding: 12px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	overflow-y:auto;
}

#note-date {
	color:#E0163B;
}
h6 {
	color:#E0163B;
	text-align: center-right;
	font-size: 14px;
}	

h1 {
	padding: 0;
	font-size: 18px;
}

.category-group {
	display: -webkit-box;
}

#category-button, #category-button-edit, #incident-button {
	height: 34px;
	width: initial;
}

#edit-student-category, #edit-category-category {
	width: 86.5%;
	margin-right: 0.51em;
}
#edit-incidents {
	width: 78%;
}
#category-tag { 
	width: 5em;
}
#category-tag-edit {
	width: 5em;
	margin-left: 1%;
}
#incident-number {
	width: 100%;
	margin-right: 1%;
}
#two-buttons-class, #two-buttons-student, #two-buttons-note {
	margin-left:25%;
}
#btn-level span {
	margin-top: 0.2em;
}

#input-group-btn {
	width: 2.8%;
	position: relative;
	display: inline;
	float: left;
}

.panel-bottom-buttons, #buttons-track-attendance, #buttons-track-behavior {
	background-color: white;
	position: fixed;
	bottom: 3.65em;
	width: 100%;
}

#edit-class-description, .btn-group.bootstrap-select, #edit-student-comments, #cat-edit-student {
	margin-top: 1em;
}

h1#clock {
	padding-right:1em
}
#btn-level>span {
	padding-left: 1em;
}
#btnReturn {
	background-color: black;
	border-color: black;
	display: inline;
}

.btn-group {
	width: 100%;
	margin-left: 4%;
	margin-right: 4%;
}
#login-button, #password-button {
	float: right;
	margin-left: .5em;
	margin-bottom: 1em;
}
#btnAttend, #btnIncident, .btn-success {
	width: 42%;
}
.btn-default{
	color: #666;
	background-color: #fff;
	border-color: #666;
	width: 25%;
}
#select-incident {
	width: 25%;
}
#btn-download, #btn-upload {
	width: 42%;
}

.list-group-item {
	cursor: pointer;
}
#btnIncident.active {
	background-color: #BF081A;  
	color: #FFF;
}
#btnEditBehavior.active {
	background-color: #F07F7F;  
	color: #000;
}
#student-behavior {
	display: -webkit-box;
}
#btn-stuEditInc {
	width: 100%;
	margin-left: 5em;
}

#btnAttend.active {
	background-color: #FFEE00;
	color: #000;
}
.icon-smiley2 {
	color: gray;
}
.icon-neutral2 {
	color: #428bca;
}
.icon-sad2 {
	color: red;
}
#list-students li:hover, #list-classes li:hover { 
    cursor: pointer;
}

#btnLate.active {
	background-color: #FFA600;
	color: #000;
}
#btnDismiss.active {
	background-color: #7893E3;
	color: #000;
}
.panel-footer {
	position: relative;
	bottom: 0;
}
.panel-header {
	position: relative;
	top: 0;
}

.btn-lg {
	width:100%;
	margin-bottom: 4pt;
}
.selected, #incidents li a.selected:hover {
	background-color: #428bca;
	color: #fff;
}

#incidents:hover {
	cursor: pointer;
}
#enter-classes-button {
	width: 100%;
	height: 34px;
}
#username, #password {
	margin-bottom: 0.5em;
}
#search-input, #search-input-beh{
	width: 100%;
}