<div class="panel-bottom-buttons">
	<div class="btn-group" ng-show="">
		<button type="button" class="btn btn-default" ng-click="editClass()">Edit
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
		<button type="button" class="btn btn-success" ng-click="btnAddClass">Add class
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="button" class="btn btn-default" ng-click="btnDeleteClass">Delete
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>


//condition to evaluate currentpage: default/viewclasses
//btn-group for main page edit-addclass -delete